.pp{
    background: black;
    border: 5px solid white;
    border-radius: 15px;
    color: white;
    padding: 5px;
    display: inline-block;
}
#hh{
    background: black;
    border: 5px solid white;
    border-radius: 15px;
    color: white;
    text-align: center;
}